@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-login > h1 {
  color: #77ffc0;
  font-size: 3vw;
}

.leftTDescription {
  color: #77ffc0;
  font-size: 3vw; /*Corresponde a mais ou menos 50px*/
}

.left-Image {
  width: 35vw;
}

.rigth-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-main {
  background: #2f2841;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 35px;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-main > h1 {
  color: #00ff88;
  font-weight: 800;
}

.textfield {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 100%;
  padding: 16px 0;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase; /*Transforma todas as letras em Maiusculas*/
  font-weight: 800;
  letter-spacing: 3px; /*Espaçamento entre as letras*/
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

/*Responsividade*/
@media (max-width: 950px) {
  .card-main {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .main-container {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }
  .leftTDescription {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .rigth-login {
    width: 100%;
    height: auto;
  }
  .left-Image {
    width: 50vw;
    margin-bottom: 50px;
  }
}
